html {
    background-color: #EBEBEB;
    box-sizing: border-box;
    font-family: 'Roboto-Medium';
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.reset-link {
    text-decoration: none;
    color: inherit;
    margin: 0;
}

.reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {

    margin: 0 auto;
    max-width: 1640px;
    padding: 0 20px;
}

/*-= HEADER =-*/

.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {
    width: 300px;
}

.header__nav-link {
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    transition: color 200ms ease-in-out,
                background-color 200ms ease-in-out;
}

.header__nav-link:hover {
    color: #8b7a56;
}

.header-account-link {
    border-radius: 5px;
    background-color: black;
    color: #978664;
}

.header-account-link:hover {
    color: #c09134;
    background-color: black;
}

.header__nav-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    text-align: center;
}

.header__nav-list-item:not(:last-child) {
    margin-right: 20px;
}

.header-logo {
    width: 300px;
}

/*-==========- */
.filler {
    background-color: black;
    width: 100%;
    height: 200px;
}

.header1 {
    position: relative;
    background-repeat: no-repeat;
    background-size: calc(100% - 350px);
    background-position: right 100px;
    background-image: url('img/header/line.png');
}

.header__nav1 {
    padding-top: 30px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 300px;
}

.header__nav1-list {
    display: flex;
}

.header__nav1-link {
    font-size: 16px;
}

.header__nav1-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.header__nav1-list-item:not(:last-child) {
    margin-right: 20px;
}

.header-account {
    margin-left: 25px;
    padding-left: 40px;
    border-left: 4px solid #2A3B59;
}

.header-account1-link {
    display: flex;
    width: 70px;
    flex-direction: column;
    align-items: center;
    padding: 5px;

}

.header-account-svg {
    stroke:black;
    margin-bottom: 5px;
}

.title {
    font-size: 45px;
    position: absolute;
    bottom: 20px;
    left: 350px;
}