<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Текстофабрика</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="header__nav">
                <ul class="header__nav-list reset-list">
                    <li class="header__nav-list-item">
                        <a href="#" class="header__nav-link header-account-link reset-link">Личный кабинет</a>
                    </li>
                    <li class="header__nav-list-item">
                        <a href="#" class="header__nav-link reset-link">Программы обучения</a>
                    </li>
                    <li class="header__nav-list-item">
                        <a href="#" class="header__nav-link reset-link">Истории учеников</a>
                    </li>
                    <li class="header__nav-list-item header-logo">
                        <a href="#" class="header__nav-link reset-link">
                            <img src="img/header/logo.png" alt="" class="header__nav-logo">
                        </a>
                    </li>
                    <li class="header__nav-list-item">
                        <a href="#" class="header__nav-link reset-link">Статьи</a>
                    </li>
                    <li class="header__nav-list-item">
                        <a href="#" class="header__nav-link reset-link">Сотрудничество с учениками</a>
                    </li>
                    <li class="header__nav-list-item">
                        <a href="#" class="header__nav-link reset-link">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="filler"></div>
    <div class="container">
        <header class="header1">
            <nav class="header__nav1">
                <a href="" class="header__link-logo">
                    <img src="img/header/logo.png" alt="" class="header__logo">
                </a>
                    <ul class="header__nav1-list reset-list">
                        <li class="header__nav1-list-item">
                            <a href="#" class="header__nav1-link reset-link">Программы обучения</a>
                        </li>
                        <li class="header__nav1-list-item">
                            <a href="#" class="header__nav1-link reset-link">Истории учеников</a>
                        </li>
                        <li class="header__nav1-list-item">
                            <a href="#" class="header__nav1-link reset-link">Статьи</a>
                        </li>
                        <li class="header__nav1-list-item">
                            <a href="#" class="header__nav1-link reset-link">Сотрудничество с учениками</a>
                        </li>
                        <li class="header__nav1-list-item header-account">
                            <a href="#" class="header__nav1-link header-account1-link reset-link">
                                <svg class="header-account-svg" width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 16C8 18.8284 8 20.2426 8.87868 21.1213C9.75736 22 11.1716 22 14 22H15C17.8284 22 19.2426 22 20.1213 21.1213C21 20.2426 21 18.8284 21 16V8C21 5.17157 21 3.75736 20.1213 2.87868C19.2426 2 17.8284 2 15 2H14C11.1716 2 9.75736 2 8.87868 2.87868C8 3.75736 8 5.17157 8 8" stroke-width="1.5" stroke-linecap="round"/>
                                    <path opacity="0.5" d="M8 19.5C5.64298 19.5 4.46447 19.5 3.73223 18.7678C3 18.0355 3 16.857 3 14.5V9.5C3 7.14298 3 5.96447 3.73223 5.23223C4.46447 4.5 5.64298 4.5 8 4.5"  stroke-width="1.5"/>
                                    <path d="M6 12L15 12M15 12L12.5 14.5M15 12L12.5 9.5"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                Войти
                            </a>
                        </li>
                    </ul>
                    <h1 class="title reset-text">ШКОЛА КОПИРАЙТИНГА И ТЕКСТОВОГО БЛОГИНГА</h1>
                
            </nav>
        </div>
    </header>
    </div>
    
</body>
</html>